/* BOMSection.css */
.bom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.bom-list {
  padding: 1rem;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.bom-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
